<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.seu.dao.DocumentDao">
    <insert id="persist">
        insert into
        document(park,year,invest,nation,industry,schedule,assess,build,construct,operate,image,user,career,company,phone,email,address)
        values(#{park},#{year},#{invest},#{nation},#{industry},#{schedule},#{assess},#{build},#{construct},#{operate},#{image},#{user},#{career},#{company},#{phone},#{email},#{address});
    </insert>

    <!--  >=相当于&gt；=  -->
    <select id="showByYear">
        select * from user where user = #{user} and year = (case when LENGTH(#{year})>=4 then SUBSTR(#{year},1,4) else "######" end);
    </select>
</mapper>